<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<table>
  <tr>
    <th>Order Id</th>
    <th>Delivery Name</th>
  </tr>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}">Onions</td>
    <td th:text="${order.deliveryName}">2.41</td>
  </tr>
</table>